<!-- Footer -->
<footer class="page-footer font-small mdb-color bg-dark pt-4 text-white">
<!--<footer class="page-footer font-small mdb-color pt-4 text-white" style="background-color: #6596ba">-->

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Компания</h6>
        <p>Дипломный проект для учета пропуска занятий студентами.</p>
        <p>Автор: Быковский Владислав Юрьевич, ФИТР, БНТУ.</p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none bg-secondary">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Ссылки</h6>
        <p>
          <a href="http://www.bntu.by/">www.bntu.by</a>
        </p>
        <p>
          <a href="#" [routerLink]="['/student']">Аккаунт</a>
        </p>
        <p>
          <a href="#" [routerLink]="['/group']">Группа</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none bg-secondary">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Контакты</h6>
        <p> Беларусь, Минск</p>
        <p> vladbykovskyy@gmail.com</p>
        <p> +375 44 533 31 05</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr class="bg-secondary">

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-12 col-lg-12">

        <!--Copyright-->
        <p class="text-center">© 2020 Copyright: Быковский Вадислав, БНТУ.</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->
