<div style="background: linear-gradient(to bottom, #ffffff 0%, #343a40 98%)">

<div class="container" style="padding-top: 20px; margin-bottom: 0px; padding-bottom: 5px">

  <h1 class="text-center">Личный кабинет</h1>
  <hr>

  <div class="card-deck md-3">
    <div class="card mb-5">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Пользователь</h4>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label>Фамилия</label>
          <input class="form-control" name="surname" [(ngModel)]="student.surname" #surname="ngModel" required/>
        </div>
        <div class="form-group">
          <label>Имя</label>
          <input class="form-control" name="name" [(ngModel)]="student.name" #name="ngModel" required/>
        </div>
        <div class="form-group">
          <label>Отчество</label>
          <input class="form-control" name="middleName" [(ngModel)]="student.middleName" #middleName="ngModel" required/>
        </div>
        <div class="form-group">
          <label>Логин</label>
          <p>{{auth.account.login}}</p>
        </div>
      </div>
    </div>
    <div class="card mb-5">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Дополнительно</h4>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label>Телефон</label>
          <input class="form-control" name="telephone" [(ngModel)]="student.telephone" #telephone="ngModel" required/>
        </div>
        <div class="form-group">
          <label>Почта</label>
          <input class="form-control" name="mail" [(ngModel)]="student.mail" #mail="ngModel" required/>
        </div>
        <div class="form-group">
          <label>Город</label>
          <input class="form-control" name="city" [(ngModel)]="student.city" #city="ngModel" required/>
        </div>
        <div class="form-group">
          <label>Дата рождения</label>
          <p>{{student.birthday}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center" style="margin-bottom: 40px">
    <button class="btn btn-primary">Сохранить изменения</button>
  </div>

  <hr class="bg-white">

</div>
</div>
<ng-template #template>
  <div class="container">
    <h4 class="text-center" style="padding: 10px">Редактировать</h4>
    <div class="mb-3">
      <label>Количество часов</label>
      <input class="form-control" name="quantity" required/>
    </div>
    <div class="mb-3">
      <label>Причина</label>
      <input class="form-control" name="reason" required/>
    </div>
    <div class="text-center" style="padding-bottom: 20px">
      <button class="btn btn-danger" (click)="closeModal(template)" style="margin-right: 20px">Отмена</button>
      <button class="btn btn-success">Подтвердить</button>
    </div>
  </div>
</ng-template>

<ng-template #templateNew>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Добавить</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="closeModal(templateNew)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Дата(yyyy:mm:dd)</label>
      <input class="form-control" name="data" required/>
    </div>
    <div class="form-group">
      <label>Количество часов</label>
      <input class="form-control" name="quantity" required/>
    </div>
    <div class="form-group">
      <label>Причина</label>
      <input class="form-control" name="reason" required/>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="closeModal(template)" style="margin-right: 20px">Отмена</button>
    <button class="btn btn-success">Подтвердить</button>
  </div>
</ng-template>
